<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605027721323-hoe4kck2bd4c1vc31u6dgqj3b4dpjptv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605027721323-hoe4kck2bd4c1vc31u6dgqj3b4dpjptv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605027721323-0u79tu8g4nibrkkhlhp64f87uia4dnfr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkp4GdPav4AOYA-KJFRt1tm0YyxR-vQio</string>
	<key>GCM_SENDER_ID</key>
	<string>605027721323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digifaz.moneytine</string>
	<key>PROJECT_ID</key>
	<string>moneytine-4f705</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytine-4f705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605027721323:ios:32f7bb12d5c3b0ef79512e</string>
</dict>
</plist>